@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  font-family: "DM Sans", sans-serif;
}

input[type="text"], input[type="email"], input[type="password"] {
  @apply border-2 placeholder:text-secondary-800/50 border-secondary-300 bg-secondary-50 px-4 py-3 rounded-lg;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}